# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.dockerignore

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db
